name: Autotester CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    name: Build environment
    runs-on: ubuntu-latest
    steps:
      - name: Code checkout
        uses: actions/checkout@v3

      - name: Setup
        uses: actions/setup-node@v3
        with:
          node-version: 22

      - name: Install dependencies
        run: npm install prompt-sync
        working-directory: .

      - name: Add exec flag to Jest
        run: chmod +x ./node_modules/.bin/jest

      - name: Run tests
        run: npm test -- --coverage
        working-directory: .

  coverage:
      needs: build
      runs-on: ubuntu-latest
      steps:
        - name: List coverage folder contents
          run: ls -la ./coverage || echo "La cartella coverage non esiste"

        - name: List current working directory contents
          run: ls -la .
          
        - name: Upload coverage reports
          uses: actions/upload-artifact@v3
          with:
            name: coverage-report
            path: coverage
            
